#slides .slides_container {
			width:400px;
			height:270px;
			display:none;
}	
#slides .slides_container div {
	width:400px;
	height:270px;
	display:block;
}


blockquote {
	width: 100%;
	margin: 0;
	padding: 0;
	font: 12px Verdana;
	line-height: 20px;
/*	background-color:black;*/
}

blockquote strong {
	font: bold 14px Verdana;
	color:#06C;
	letter-spacing: 1px;
}

blockquote.mastBlockQuote {
	background: url(../images/quote-start.gif) no-repeat top left;
}

blockquote.insideBlockQuote {
	background: url(../images/quote-grey-start.gif) no-repeat top left;
}

.mastQuote {
	text-align: left;
	margin-left: 30px;
	padding: 10px 15px 5px 0;
	background: url(../images/quote-end.gif) no-repeat right bottom;
}

.insideQuote {
	text-align: left;
	margin-left: 30px;
	padding: 10px 15px 5px 0;
	background: url(../images/quote-grey-end.gif) no-repeat right bottom;

}